*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: Manrope, sans-serif;
  	font-weight: bold;
  	font-size: 0.813rem;
}

.navbar {
	background-color: #191919;
	padding: 2.063em 0;
	position: relative;
}

.navbar-collapse {
  position: absolute;
  top: 6.4em;
  width: 100%;
  background-color: #FFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 1.188em;
}

.navbar-nav {
  text-align: center;
  align-items: center;
}

.nav-img {
  align-self: center;
  z-index: 1;
  margin-bottom: -1em;
}

.oval {
  z-index: 1;
  transform: translateY(-3em);
}

.HEADPHONES {
  margin-top: 2.5em;
}

.nav-item {
  background-color: #F1F1F1;
  margin-bottom: 1em;
  border-radius: 8px;
  margin-top: -11em;
  width: 327px;
  height: 165px;
}

.nav-header {
  margin-top: 5.87em;
  letter-spacing: 1.07px;
  font-size: 0.938rem
}

.mobile-hr {
  padding: 0;
  width: 100%;
  margin: 0;
  opacity: 1;
  transform: translateY(57px);
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}


main {
	background-color: #191919;
}

p.nav-header {

}

.nav-shop {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1px;
  color: #979797;
}

.nav-shop:hover {
  color: #D87D4A;
}

.shop-arrow {
  margin-left: 1.145em
}

.nav-lg-list {
  display: none;
}

.desktop-hr {
  display: none;
}

.nav-product-list {
  display: none;
}

.hero {
  background-image: url("/src/assets/home/mobile/image-header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  padding: 100% 0;
  background-position-y: -80px;
}

.hero-text {
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.hero-text-header {
  letter-spacing: 10px;
  font-size: 0.875rem;
  font-weight: normal;
  opacity: 49.64%;
}

.hero-header {
  font-weight: bold;
  letter-spacing: 1.29px;
  font-size: 2.25rem;
  line-height: 40px;
  margin-bottom: 24px;
}

.hero-text-info {
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  max-width: 328px;
  margin: 0 auto;
  opacity: 75%;
}


.hero-button {
  background-color: #D87D4A;
  color: white;
  padding: 1em 1.875em;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin-top: 28px;
}




@media (min-width: 768px) {

.mobile-hr {
  display: none;
}

.desktop-hr {
  display: flex;
  padding: 0;
  width: 100%;
  margin: 0;
  opacity: 1;
  transform: translateY(57px);
}

.hero {
  background-image: url("/src/assets/home/tablet/image-header.jpg");
}

.hero-text {
  top: 20.2%;
}

.hero-text-header {
  margin-bottom: 24px;
}

.hero-header {
  letter-spacing: 2px;
  font-size: 3.375rem;
  line-height: 58px;
  margin-bottom: 24px;
  max-width: 396px;
}

.hero-text-info {
  max-width: 349px;
}

.hero-button {
  margin-top: 40px;
}

}


@media (min-width: 768px) and (max-width: 991px) { 

  .nav-container {
    gap: 42px;
  }

  .cart {
    margin-left: auto;
  }


}



@media (min-width: 992px) {

.navbar-expand-lg .navbar-collapse {
  display: none !important;
}

.navbar-expand-lg {
  flex-wrap: wrap;
}

.nav-product-list {
  display: flex;
}

.nav-lg-list {
  list-style: none;
  color: white;
  display: flex;
  margin-bottom: 0px;
}

.nav-lg-list:hover {
  color: #D87D4A;
}





}