*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: Manrope, sans-serif;
  	font-weight: bold;
  	font-size: 0.813rem;
}

.navbar {
	background-color: #191919;
	padding: 2.063em 0;
	position: relative;
}

.navbar-collapse {
  position: absolute;
  top: 6.4em;
  width: 100%;
  background-color: #FFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 1.188em;
}

.navbar-nav {
  text-align: center;
  align-items: center;
}

.nav-img {
  align-self: center;
  z-index: 1;
  margin-bottom: -1em;
}

.oval {
  z-index: 1;
  transform: translateY(-3em);
}

.HEADPHONES {
  margin-top: 2.5em;
}

.nav-item {
  background-color: #F1F1F1;
  margin-bottom: 1em;
  border-radius: 8px;
  margin-top: -11em;
  width: 327px;
  height: 165px;
}

.nav-header {
  margin-top: 5.87em;
  letter-spacing: 1.07px;
  font-size: 0.938rem
}

.mobile-hr {
  padding: 0;
  width: 100%;
  margin: 0;
  opacity: 1;
  transform: translateY(57px);
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}


main {
	background-color: #191919;
	padding: 16em 0;
}

p.nav-header {

}

.nav-shop {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1px;
  color: #979797;
}

.nav-shop:hover {
  color: #D87D4A;
}

.shop-arrow {
  margin-left: 1.145em
}

.nav-lg-list {
  display: none;
}

.desktop-hr {
  display: none;
}

.nav-product-list {
  display: none;
}

.headphonesImg {
  max-width: 100%;
  margin-top: -14.65em;
}

.main-text {
  text-align: center;
  color: white;
  margin-top: -24.875em;
}

.info {
  letter-spacing: 10px;
  font-size: 0.875rem;
  color: #979797;
  font-weight: normal;
}

.hi {
  font-weight: bold;
  letter-spacing: 1.29px;
  font-size: 2.25rem;
  line-height: 40px;
}

.bye {
  color: #979797;
  font-size: 0.938rem;
  font-weight: inherit;
  line-height: 25px;
  max-width: 375px;
  margin: 0 auto;
  width: 75%;
}


@media (min-width: 768px) {

.mobile-hr {
  display: none;
}

.desktop-hr {
  display: flex;
  padding: 0;
  width: 100%;
  margin: 0;
  opacity: 1;
  transform: translateY(57px);
}



}


@media (min-width: 768px) and (max-width: 991px) { 

  .nav-container {
    gap: 42px;
  }

  .cart {
    margin-left: auto;
  }

}



@media (min-width: 992px) {

.navbar-expand-lg .navbar-collapse {
  display: none !important;
}

.navbar-expand-lg {
  flex-wrap: wrap;
}

.nav-product-list {
  display: flex;
}

.nav-lg-list {
  list-style: none;
  color: white;
  display: flex;
  margin-bottom: 0px;
}

.nav-lg-list:hover {
  color: #D87D4A;
}





}